.ball{
    position:absolute;
    left:630px;
    height:20px;
    width: 20px;
    border-radius:50%;
    background-color: white;
    animation-name:animeBall;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count:infinite;
}

@keyframes animeBall{
    10% {background-color:white;height:20px;width:20px;}
    30% {background-color:turquoise;height:20px;width:20px;}
    50% {background-color:greenyellow;height:20px;width:20px;transform:translateY(45px);}
    75% {background-color:red;height:20px;width:20px;}
    
}

#delloite{
    text-align: center;
    position:relative;
    left:-50px;
    top:10px;
    font-size: 50px;  
    font-weight: bold;  
    color:white;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    animation-name: animeA;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}
@keyframes animeA{
    0% {color:white}
    25% {color:turquoise}
    50% {color:greenyellow}
    75% {color:red}
  
}





#welcome{
    position: absolute;
    top:120px;
    left:50px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

/*#form{
    margin:0px 0px;
    text-align:right;
}*/
#logout{
    position:absolute;
    left: 1100px;
    top:50px;
    background: red;
    border-radius: 10px;
    color: white;
    height:5%;
}

#user{
    font-family: 'Gill Sans', 'Gill Sans MT';
    position: relative;
    /*background-image: linear-gradient(to right,#0056d6,#0091e3,#00bac8,#9dd9be,#f1f6e5);*/
    background-image: linear-gradient(to bottom,black,grey);
    max-width: 300px;
    border-radius: 10px;
    margin:200px auto 100px;
    padding:20px 25px 10px;
    text-align:center;
    bottom:80px;
    
}

#user button{
    
    width:100%;     /*for adjusting length of buttons*/
    margin: 0 0 15px;   /*for creating space between buttons*/
    padding:15px;
    box-sizing: border-box;
    background:rgb(7, 176, 206);
    border-radius: 10px;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    cursor:pointer;
}

#user button:hover{
    background:gray;
}
